

/* Bootstrap Core */

@import "node_modules/bootstrap/scss/bootstrap";

/* Variables */

@import 'variables';
@import 'mixins';

/* global */

@import 'globals/typography';
@import 'globals/iconography';
@import 'globals/tables';



/* Partials */

@import 'partials/news-ticker';
@import 'partials/main-nav';
@import 'partials/main-hero';
@import 'partials/market-indicator';
@import 'partials/most-active';
@import 'partials/market-posts';
@import 'partials/calendar-view';
@import 'partials/news-item';

* { box-sizing: border-box; }

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-weight: 400;
    background-color: #f6f6f6;
}

.footer {
    margin-top:3rem;
}


.main-section{
    padding-bottom: $spacer*3;
    padding-top: $spacer*3;
}

.darken{
    color: #fff;
}

.full-section {
    margin: $spacer*2 auto;
    padding: $spacer*2 auto;
    .sub-section{
        display: table;
        position: relative;
        margin: -3rem 0;
        padding: 3rem 1rem 0rem;
        &:after{
            width:100%;
            height:100%;
            display:block;
            background-color:initial;
            display:block;
            content: '';
            

        }
    }

}

.plastic-card{
    background-color:white;
    border: 1px solid #eeeff2;
    width: 100%;
    height: 100%;
    padding: 1rem;
}




