
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');

$font-stack:     'Tajawal', sans-serif;
$primary-color: #4b4c4d;

$theme-color-01:    #c8964b;

$theme-color-03:    #435058;
$theme-color-04:    #4c7f58;
$theme-color-05:    #a31621;
$theme-color-06:    #CCCCCC; /* table headers, */
$theme-color-07:    #DFDDD0; 
$theme-color-08:    #88958D; 
$theme-color-09:    #CCCCCC; 
$theme-color-10:    #CCCCCC; 


$icon-cloud : "http://ovuzy.com/public/SVG";

.bg-clr-01{background-color: $theme-color-01;}

.bg-clr-03{background-color: $theme-color-03;}
.bg-clr-04{background-color: $theme-color-04;}
.bg-clr-05{background-color: $theme-color-05;}
.bg-clr-06{background-color: $theme-color-06;}
.bg-clr-07{background-color: $theme-color-07;}
.bg-clr-08{background-color: $theme-color-08;}

$spacer: 1rem;

$font-size-00: 1.5rem;
$font-size-01: 1.375rem;
$font-size-02: 1.25rem;
$font-size-03: 1.125rem;
$font-size-04: 1rem;
$font-size-05: 0.9rem;
$font-size-06: 0.8rem;

$container-max-width: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;