
@import '../variables';
@import '../mixins';




.tbl-thm-01{
    .tbl-hdr{
        font-size: 0.8rem;
        font-weight: 600;
        color: #cccccc;
        margin-bottom: $spacer;

    }
    .tbl-dta{
        font-weight: 500;
        margin-bottom: $spacer;

    }
}

body{
    background: red;;
}