
@import '../variables';
@import '../mixins';


h2{
    font-weight: 600;
    font-size: $font-size-02;
    margin-bottom: $spacer;
    &::after{
        width: 1.5rem;
        height: 0.2rem;
        background-color: $theme-color-01;
        position: relative;
        display: block;
        border-radius: 1rem;
        content: '';
    }
}

h5{
    font-weight: 600;
    font-size: $font-size-04;
    color: $theme-color-01;
}


.typo-02{
    font-size: 1.25rem;
    font-weight: 600;
}

.typo-04{
    font-size: 0.8rem;
    font-weight: 600;
    color: #cccccc;
}

.typo-05{
    font-size: 0.8rem;
    font-weight: 600;
    color: #9d9b95;
}



