<div class="calendar">

  <div class="calendar-head">
    <h5 class="month-year">May 2020</h5>
  </div>

  <div class="calendar-body">
    <ul class="weekdays">
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
      <li>Sun</li>
    </ul>

    <ul class="days">
      <li class="previous-month">27</li>
      <li class="previous-month">28</li>
      <li class="previous-month">29</li>
      <li class="previous-month">30</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li> <span class="date-with-event">12</span><span class="event-count">3</span></li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li> <span class="date-with-event">28</span><span class="event-count">5</span></li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
    </ul>
  </div>

</div>