
<div class="market__post">
  <div>
    <span class="market__post__date">18/09/2020</span>
    <span class="market__post__time">9:45</span>
    <span class="market__post__authour">FACIL</span>
  </div>
  <div>
    <p class="market__post__decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>
<div class="market__post">
  <div>
    <span class="market__post__date">18/09/2020</span>
    <span class="market__post__time">9:45</span>
    <span class="market__post__authour">FACIL</span>
  </div>
  <div>
    <p class="market__post__decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>
<div class="market__post">
  <div>
    <span class="market__post__date">18/09/2020</span>
    <span class="market__post__time">9:45</span>
    <span class="market__post__authour">FACIL</span>
  </div>
  <div>
    <p class="market__post__decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>
<div class="market__post">
  <div>
    <span class="market__post__date">18/09/2020</span>
    <span class="market__post__time">9:45</span>
    <span class="market__post__authour">FACIL</span>
  </div>
  <div>
    <p class="market__post__decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>
<div class="market__post">
  <div>
    <span class="market__post__date">18/09/2020</span>
    <span class="market__post__time">9:45</span>
    <span class="market__post__authour">FACIL</span>
  </div>
  <div>
    <p class="market__post__decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>