

<div class="hero-wrap">
  <div class="hero">
    <div class="hero__images">
      <div class="sample-hero-image"></div>
    </div>
    <div class="hero__content">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="hero__content__slider">
              <div class="slider__content__container">
                <div class="hero__content__slider__subject">
                  <h5>Top Story</h5>
                </div>
                <div class="hero__content__slider__title">
                  <h3>
                    Boursa Kuwait increases 2020 1st QTR net profits by over 46%
                  </h3>
                </div>
                <div class="hero__content__slider__decription"></div>
                <div class="hero__content__slider__datetime">6 hours ago</div>
              </div>
              
            </div>
          </div>
          <div class="col-md">
            <div class="hero__content__market">
              <div class="hero__market__sumary text-right">
                <div>
                  <partial src="market-indicator.html"></partial>
                  <div class="summary__indicator">
                    <h5>Market Summary</h5>
                    <div class="summary__indicator__item">
                      <div class="typo-05">Volume</div>
                      <div class="typo-02">150,237,179</div>
                    </div>
                    <div class="summary__indicator__item">
                      <div class="typo-05">Value Traded</div>
                      <div class="typo-02">38,763,195.01</div>
                    </div>
                    <div class="summary__indicator__item">
                      <div class="typo-05">Trades</div>
                      <div class="typo-02">7,990</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

