
<section class="main__nav">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand" href="./index.html">
                        <div class="main__nav__logo" ></div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="./index.html">Securities<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Regulations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Participants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">OTC Platform</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Data and Research</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Announcements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Resources</a>
                            </li>

                        </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
</section>



