

<div class="market__indicator">
  <div class="market__indicator__title">
    <h5>Premier Market</h5>
  </div>
  <div class="market__indicator__value">
    5,628.10 
  </div>
  <div class="market__indicator__change up">
    <span><i class="bk-icon market-indicator"></i></span>
    <span>64.25</span>
    <span>0.48%</span>
  </div>
</div>  