


<section class="market main-section">
  <div class="container">
    <div class="row">
      <h2>
        Market Latest
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3">

        <div class="">
          <div class="market__tab__item">
            <partial src="market-indicator.html"></partial>
          </div>
        </div>
        <div class="">
          <partial src="market-indicator.html"></partial>
        </div>
        <div class="">
          <partial src="market-indicator.html"></partial>
        </div>
        <div class="">
          <partial src="market-indicator.html"></partial> 
        </div>
      </div>

      <div class="col-lg-7 col-md-9">
        <div class="">
          <div class="market__tab__content">
            <h5>Market Summary</h5>
            <img src="http://ovuzy.com/public/SVG/main-chart.svg" alt="">

            <div class="market__tab__content__summary">
              <div class="bk-table tbl-thm-01">
              <div class="row tbl-hdr">
                <div class="col-3">Open</div>
                <div class="col-3">High</div>
                <div class="col-3">Low</div>
                <div class="col-3">Prev. Close</div>
              </div>
            </div>

            <div class="row tbl-dta typo-02">
                <div class="col-3">8,050.58</div>
                <div class="col-3">8,982.45</div>
                <div class="col-3">4,587.24</div>
                <div class="col-3">5,321.44</div>
            </div>
            </div>
            
            
          </div>
        </div>
        
      </div>
      <div class="col-lg-3 col-md-12 col-xs-12">
        <div class="row">
          <div class="col-5"><span class="mini-chart-container"><i class="market-mini-chart mini-chart-01"></i></span></div>
          <div class="col-7"><partial src="market-indicator.html"></partial></div>
          
        </div>
        <div class="row">
          <div class="col-5"><span class="mini-chart-container"><i class="market-mini-chart mini-chart-02"></i></span></div>
          <div class="col-7"><partial src="market-indicator.html"></partial></div>
        </div>
        <div class="row">
          <div class="col-5"><span class="mini-chart-container"><i class="market-mini-chart mini-chart-02"></i></span></div>
          <div class="col-7"><partial src="market-indicator.html"></partial></div>
        </div>
        <div class="row">
          <div class="col-5"><span class="mini-chart-container"><i class="market-mini-chart mini-chart-03"></i></span></div>
          <div class="col-7"><partial src="market-indicator.html"></partial></div>
        </div>
      </div>
    </div>
  </div>
</section>


