

<section class="most__active main-section">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Most Active</h2>
      </div>
      
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
        <div class="plastic-card">

          <h5>Top Advancers</h5>

          <div class="bk-table tbl-thm-01">
            
            <div class="row tbl-hdr">
              <div class="col-3">Stock</div>
              <div class="col-2 text-right pr-0">Last</div>
              <div class="col-2 text-center"></div>
              <div class="col-2 pl-0">Change</div>
              <div class="col-3 text-right">Volume</div>
            </div>

            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
        <div class="plastic-card">
          <h5>Top Decliners</h5>

          <div class="bk-table tbl-thm-01">

            <div class="row tbl-hdr">
              <div class="col-3">Stock</div>
              <div class="col-2 text-right pr-0">Last</div>
              <div class="col-2 text-center"></div>
              <div class="col-2 pl-0">Change</div>
              <div class="col-3 text-right">Volume</div>
            </div>

            <div class="row tbl-dta most__active__category down">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category down">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category down">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category down">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category down">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
        <div class="plastic-card">
          <h5>Top Volumes</h5>

          <div class="bk-table tbl-thm-01">

            <div class="row tbl-hdr">
              <div class="col-3">Stock</div>
              <div class="col-2 text-right pr-0">Last</div>
              <div class="col-2 text-center"></div>
              <div class="col-2 pl-0">Change</div>
              <div class="col-3 text-right">Volume</div>
            </div>
            
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
            <div class="row tbl-dta most__active__category up">
              <div class="col-3">NBK</div>
              <div class="col-2 text-right pr-0 mrk">779</div>
              <div class="col-2 text-center"><i class="bk-icon market-indicator"></i></div>
              <div class="col-2 pl-0 mrk">0.91</div>
              <div class="col-3 text-right">4,858,391</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>

</section>  