

<div class="news__item plastic__card">
  <div class="news__item__image">
    <div class="dummy__image"></div>
  </div>
  <div class="news__item__title">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus</p>
  </div>
</div>  