

<div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
      <div class="ticker__item">
        <div class="ticker__item__title">Kuwait PM vows nobody is immune from corruption investigations</div>
        <div class="ticker__item__subject">KUWAIT GOVERNMENT <span class="ticker__item__datetime">6 min ago</span></div>
      </div>
    </div>
    </div>