

<div class="bk-table tbl-thm-01">

  
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">BANKS</div>
    <div class="col-md-4 text-right">1,235.52</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">BASIC MATERIALS</div>
    <div class="col-md-4 text-right">787.50</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">CONSUMER GOODS</div>
    <div class="col-md-4 text-right">801.52</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">CONSUMER SERVICES</div>
    <div class="col-md-4 text-right">878.85</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">FINANCIAL SERVICES</div>
    <div class="col-md-4 text-right">829.21</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">HEALTH CARE</div>
    <div class="col-md-4 text-right">767.04</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">INDUSTRIALS</div>
    <div class="col-md-4 text-right">961.63</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">INSURANCE</div>
    <div class="col-md-4 text-right">1,097.75</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">OIL & GAS</div>
    <div class="col-md-4 text-right">885.13</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">REAL ESTATE</div>
    <div class="col-md-4 text-right">885.13</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">TECHNOLOGY</div>
    <div class="col-md-4 text-right">480.15</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">TELECOMMUNICATIONS</div>
    <div class="col-md-4 text-right">1,073.10</div>
  </div>
  <div class="row tbl-dta most__active__category up">
    <div class="col-md-8">UTILITIES</div>
    <div class="col-md-4 text-right">852.63</div>
  </div>
  
</div>