
@import '../theme';

* { box-sizing: border-box; }


.calendar{
	z-index: 1;
	position: relative;

	.calendar-head {
	}
	
	.calendar-body {
		text-align: center;
		.weekdays {
			text-transform: uppercase;
			font-size: 0.9rem;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			list-style: none;
			padding-left: 0;
		}
		
		.days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			list-style: none;
			padding-left: 0;
			
		}
		
		.days li {
			padding: 1rem 0;
			cursor: pointer;
			position: relative;
			list-style: none;
			.date-with-event {
				&:after{
					width: 2rem;
					height: 2rem;
					display: block;
					background: #c8964b;
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					top: 0;
					bottom: 0;
					z-index: -1;
					border-radius: 2rem;
				}
				&:hover {
					color: #FFF;
				}
			}
			
			.event-count {
				position: absolute;
				top: 6px;
    			right: 6px;
				width: 1rem;
				height: 1rem;
				text-align: center;
				font-size: 0.6rem;
				background: $theme-color-05;
				color: #fff;
				display: block;
				border-radius: 50px;
			}
		}
		
	}
	
	
	
	.previous-month {
		opacity: 0.2;
	}
	
	
	
	
	
	
	
	.active {
		&:after{
			width: 2rem;
			height: 2rem;
			display: block;
			background: $theme-color-03;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 0;
			bottom: 0;
			z-index: -1;
			border-radius: 2rem;
		}
	}
}



.calendar-section{
	.event__detail{
		list-style: none;
		&__item{
			list-style: none;
			margin-left: none;;
			margin-bottom: 1rem;
			.event-date{
				width: 2rem;
				height: 2rem;
				display: inline-block;
				background: #c8964b;
				text-align: center;
				border-radius: 2rem;
				line-height: 2rem;
				font-weight: 500;
				margin-right: $spacer*0.5;
			}

		}
	}
}