
@import '../theme';

$nav-height: 6rem;
$nav-logo-size: 7rem;

.main__nav{
  .navbar{
    height: $nav-height;
    .navbar-nav{
      .nav-item{
        margin-right: $spacer/2;
        .nav-link{
          color: $primary-color;
          font-weight: 500;

        }
      }
    }
  }
  height: $nav-height;
  margin-bottom: -$nav-height;
  width: 100%;
  position: relative;
  z-index: 1;
  &__logo{
    background-color: $theme-color-01;
    display: block;
    width: $nav-logo-size;
    height: $nav-logo-size;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(#{$icon-cloud}/bk-icon-light.svg);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center;

  }

}

