
@import '../theme';

$hero-height: 30rem;

.hero{
  height: $hero-height;
  &__images{
    .sample-hero-image{
      background-image: url(#{$icon-cloud}/bk-03.png);
      width: 100%;
      height: $hero-height;
      display: block;
      position: absolute;
      background-position: center bottom;
      background-size: cover;
    }
  }
  &__content{
    align-items: flex-end;
    display: flex;
    height: 100%;
    padding-bottom: $spacer;
    &__slider{
      
      &__subject{
        display: block;

      }
      &__title{
        display: block;
        * {
          font-weight: 600;
        }
      }
      &__decription{
        display: block;

      }
      &__datetime{
        display: block;
        font-weight: 600;
        
      }
      .slider__content__container{
        position: absolute;
        bottom: 0;
      }
    }
    &__market{
      .hero__market__sumary{
        .market__indicator{
          .market__indicator__value{
            font-size: 1.75rem;
          }
          .market__indicator__change{
            font-size: 1.75rem;
          }
        }
        .summary__indicator{
          &__item{
            margin-bottom: $spacer;;
          }
        }
      }
    }
  }
}
