
@import '../theme';

* { box-sizing: border-box; }

.market{
  &__indicator{
    display: block;
    padding: $spacer 0;
    &__title{
      display: block;
    }
    &__value{
      font-size: $font-size-02;
      font-weight: 600;
      margin-bottom: $spacer/2.5;
    }
    &__change{
      font-size: $font-size-02;
      font-weight: 600;
      color: green;
      &.up{
        color: $theme-color-04;
        .bk-icon.market-indicator{
          background-image: url(#{$icon-cloud}/market-up-indicator.svg);
        }
      }
      &.down{
        color: $theme-color-05;
        .bk-icon.market-indicator{
          background-image: url(#{$icon-cloud}/market-down-indicator.svg);
        }
      }
      &.nochange{
        color: $theme-color-05;
        .bk-icon.market-indicator{
          background-image: url(#{$icon-cloud}/market-nochange-indicator.svg);
        }
      }
    }
  }
}

.market__tab__item{
  margin: 0 0rem 0 -1rem;
  padding: 0 0 0 1rem;
  border: 1px solid #eeeff2;
  border-right-color: white;
  width: 100%;
  background: white;
}

.market__tab__content{
  margin: 0 0rem 0 -1rem;
  padding: $spacer;
  border: 1px solid #eeeff2;
  width: 100%;
  background: white;
  height: 32rem;
  &__summary{
    padding: 1.75rem 0;
  }
}

.mini-chart-container{
  align-items: center;
  display: flex;
  height: 100%;


}

.market-mini-chart{
  width: 5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-position:center;
  &.mini-chart-01{
  background-image: url(#{$icon-cloud}/market-mini-chart-01.svg);
    }
  &.mini-chart-02{
    background-image: url(#{$icon-cloud}/market-mini-chart-02.svg);
    }
  &.mini-chart-03{
    background-image: url(#{$icon-cloud}/market-mini-chart-03.svg);
    }
}

