
@import '../theme';

* { box-sizing: border-box; }



.market__post{
  margin-bottom: $spacer*1.5 ;

  &__date{
    font-weight: 600;
    color: initial;
    font-size: $font-size-05;
    margin-right: $spacer/2;

  }
  &__time{
    font-weight: 600;
    color: initial;
    font-size: $font-size-05;
    margin-right: $spacer/2;

  }
  &__authour{
    color: $theme-color-01;
    font-weight: 600;
    font-size: $font-size-05;
    margin-right: $spacer/2;

  }
  &__title{
    color: $theme-color-01;
    font-weight: 600;
    font-size: $font-size-05;
    margin-right: $spacer/2;

  }
  &__decription{
    font-weight: 400;
    font-size: $font-size-05;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }

}