
@import '../theme';


.most__active{
    &__category{
        &.up{
            .mrk{color: $theme-color-04;}
            .bk-icon.market-indicator{
              background-image: url(#{$icon-cloud}/market-up-indicator.svg);
            }
          }
          &.down{
            .mrk{color: $theme-color-05;}
            .bk-icon.market-indicator{
              background-image: url(#{$icon-cloud}/market-down-indicator.svg);
            }
          }
          &.nochange{
            .mrk{color: $theme-color-04;}
            .bk-icon.market-indicator{
              background-image: url(#{$icon-cloud}/market-nochange-indicator.svg);
            }
          }

    }
}
