
@import '../theme';




.news__item{
    &__image{
      
      .dummy__image{
        width: calc(100% + 2rem);
        left: -1rem;
        top: -1rem;
        height: 10rem;
        background-color: #eee;
        display: block;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }
    &__title{

    }
    
}

.news-section{
  .plastic-card{
    margin-bottom: $spacer;
  }
}
