

@import '../theme';

* { box-sizing: border-box; }
$duration: 60s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: relative;
  overflow: hidden;
  height: 4rem;
  background-color: $theme-color-03; 
  padding-left: 100%;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .ticker {

    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 0.9rem;
      color: white;
      
      &__title  {
        color: white;
        font-weight: 400;
      }  
      
      &__subject  {
        color: $theme-color-01;
        font-weight: 600;

      } 
      &__datetime{
        color: white;
        font-weight: 400;
        padding-left: $spacer;
      }

    }

  }

}

